.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  /* align-items: center; */
}

.logo {
  width: 70px;
  height: 70px;
  display: block;
  border-radius: 60%;
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.res-card {
    width:200px ;
    height: 300px;
    border: 1px solid black;
}

