#heading {
    color: red;
}
#smallerHeading {
    color: orange;
}

#parent {
    border-style: solid;
    border-width: 2px;
    border-color: blue;
}

#child {
    border-style: solid;
    border-width: 2px;
    border-color: green;
    margin: 5px;
    text-align: center;
}